{% extends 'baseConnect.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="administration">
    <div class="content">
        <div class="container">
            <h1>Système de caisse de <span>Xtra Copy</span> : client</h1>
           <h2>Ajoute abonnee</h2>
        </div>
        </div>
    </div>
</div>
{% endblock %}