{% extends 'baseConnect.html.twig' %}

{% block title %}Recherche abonnement{% endblock %}

{% block body %}
<div class="administration">
    <div class="content">
        <div class="container">
            <h1>Système de caisse de <span>Xtra Copy</span> : Recherche abonnement</h1>
            <div class="classic">
                
            </div>
            <div class="link">
                <ul>  
                    <li><a href="{{ path('aboIndex') }}">Retour</a></li>
                </ul> 
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}