{% extends 'baseConnect.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="administration">
    <div class="content">
        {% include "dashboard/apiCaisse/partials/_logo.html.twig" %}
        <div class="container">
            <h1>Caisse de <span>Xtra Copy</span> : Recherche abonné</h1>
            <h2>recherche abonner</h2>
        </div>
        {% include "dashboard/apiCaisse/partials/_footer.html.twig" %}
    </div>
</div>

{% endblock %}