<div class="homePage">
    <div class="homePresentation">TOURNAI</h1>
        <h2>" Un service de qualités à moindre Coûts. "</h2>
        <p>Xtracopy propose un service d'impression de qualité à moindre coût et un point relais pour vos colis.
        </p>
        <p>Obtenez des impressions nettes et vibrantes sans casser votre tirelire.
        </p>
        <p>Visitez-nous dès maintenant pour profiter de notre service rapide, abordable et fiable.</p>
    </div>
</div>