<div class="header">
    <div class="headerSup">
        <ul>
            <li>
                <i class="fa-solid fa-location-dot"></i>
                <div class="information">
                    <span>Adresse</span>
                    <p>Rue de l'Yser 11</p>
                    <p>7500 TOURNAI (Belgique)</p>
                </div>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <div class="information">
                    <span>Téléphone</span>
                    <p>+32(0)470/92.80.09</p>
                </div>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <div class="information">
                    <span>E-mail</span>
                    <p>xtracopytournai@gmail.com</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="headerInf"></div>
</div>