 <div class="logo">
     <div class="rond"></div>
     <p>Xtra copy</p>
     <div class="groupe">
         {% for row in 1..3 %}
         {% for column in 1..8 %}
         <div class="circle"></div>
         {% endfor %}
         {% endfor %}
     </div>
 </div>