{% extends 'baseConnect.html.twig' %}

{% block title %}Nouveua client{% endblock %}

{% block body %}
<div class="client">
    <div class="container">
        <div class="row">
            <h1>Nouveau client de <span>Xtra Copy</span></h1>
            <ul>
                <li><a href="">Client avec photocopies</a></li>
                <li><a href="">Client sans photocopies</a></li>
                <li><a href="">Se déconnecter</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}