{% extends 'baseConnect.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
<div class="shop">
    <div class="content">
        <div class="container">
            <h1>Shop <span>Xtra Copy Tournai</span></h1>
            <h2>La connexion a été réalisée avec succès</h2>
            <div class="warning">
            <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <p>Avant toute chose, n'oubliez pas de lancer <span>Wamp Server</span> sur votre bureau ainsi que le <span>programme imprimantes</span> en magasin.</p> 
            <div class="link">
            <a href="">Nouveau Client</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}