{% extends 'baseConnect.html.twig' %}

{% block title %}Tableau Administration{% endblock %}

{% block body %}
<div class="administration">
    <div class="menu">
        <div class="container">
            <div class="row">
                <ul>
                    <li><a href="">Gestion du site internet</a></li>
                    <li><a href="">Gestion des employes</a></li>
                    <li><a href="">Comptabilité</a></li>
                    <li><a href="{{ path('printindex') }}">Gestion du parc d'imprimante</a></li>
                    <li><a href="">Gestion des produits</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <h1>Tableau de bord administration de <span>Xtra Copy Tournai</span></h1>
            <div class="classic">
                <ul>
                    <li><a href="{{ path('app_dashboard') }}">Magasin</a></li>
                    <li><a href="{{ path('AccueilSiteWeb') }}" target="_blank">Site Internet</a></li>
                    <li><a href="">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}